*
!config
!dist/atlas/apache-atlas-*-hbase-hook.tar.gz
!dist/atlas/apache-atlas-*-hive-hook.tar.gz
!dist/atlas/apache-atlas-*-server.tar.gz
!dist/ranger/ranger-*-admin.tar.gz
!dist/ranger/ranger-*-atlas-plugin.tar.gz
!dist/ranger/ranger-*-hdfs-plugin.tar.gz
!dist/ranger/ranger-*-yarn-plugin.tar.gz
!dist/ranger/ranger-*-hive-plugin.tar.gz
!dist/ranger/ranger-*-hbase-plugin.tar.gz
!dist/ranger/ranger-*-kafka-plugin.tar.gz
!downloads/*
!scripts/*
